<%= link_to 'Askme.kz', root_path %>
<div class="row">
	<div class="three columns">
		<ul class="nav-bar">
			<% if respondent_signed_in? %>
				<li>
					<%= link_to('Logout', destroy_respondent_session_path, :method=>'delete') %>
				</li>
			<% else %>
				<li>
					<%= link_to('Sign in', new_respondent_session_path) %>
				</li>
			<% end %>
			<% if respondent_signed_in? %>
				<li>
					<%= link_to 'Change password or email', edit_respondent_registration_path %>
				</li>
			<% else %>
				<li>
					<%= link_to('Sign up', new_respondent_registration_path) %>
				</li>
			<% end %>
		</ul>
	</div>
</div>	